In [1]:
##Food Shop data collecting!

This notebook defines the category schema and collects a raw labelled dataset
of grocery item names and their corresponding categories. The aim is to
mimic the automatic categorisation behaviour of the Apple Reminders "Groceries" list.

At this stage, the data is collected in a raw form without preprocessing.

In [2]:
##Category Schema

The following categories are used in this project:

- Fruit and Veg
- Eggs and Dairy
- Bakery
- Pantry
- Snacks
- Household
- Meat and Fish
- Drinks
- Frozen Foods


These categories were chosen because they are:
- Common in supermarket organisation
- Small in number 
- Similar to those used by consumer grocery applications (https://www.sciencedirect.com/science/article/abs/pii/S0195666320305481)

SyntaxError: invalid syntax (3193917927.py, line 3)

In [3]:
import pandas as pd

data = [
    # Fruit & Vegetables
    ("apples", "Fruit & Vegetables"),
    ("bananas", "Fruit & Vegetables"),
    ("oranges", "Fruit & Vegetables"),
    ("spinach", "Fruit & Vegetables"),
    ("carrots", "Fruit & Vegetables"),
    ("potatoes", "Fruit & Vegetables"),

    # Eggs & Dairy
    ("eggs", "Eggs & Dairy"),
    ("milk", "Eggs & Dairy"),
    ("cheddar cheese", "Eggs & Dairy"),
    ("butter", "Eggs & Dairy"),
    ("yoghurt", "Eggs & Dairy"),

    # Meat & Fish
    ("chicken breast", "Meat & Fish"),
    ("beef mince", "Meat & Fish"),
    ("salmon fillet", "Meat & Fish"),
    ("pork chops", "Meat & Fish"),

    # Bakery
    ("bread", "Bakery"),
    ("bagels", "Bakery"),
    ("croissants", "Bakery"),

    # Pantry / Dry Goods
    ("pasta", "Pantry / Dry Goods"),
    ("rice", "Pantry / Dry Goods"),
    ("tinned tomatoes", "Pantry / Dry Goods"),
    ("olive oil", "Pantry / Dry Goods"),

    # Snacks
    ("crisps", "Snacks"),
    ("chocolate bar", "Snacks"),
    ("biscuits", "Snacks"),

    # Drinks
    ("orange juice", "Drinks"),
    ("coffee", "Drinks"),
    ("tea bags", "Drinks"),

    # Frozen Foods
    ("frozen peas", "Frozen Foods"),
    ("ice cream", "Frozen Foods"),

    # Household
    ("washing up liquid", "Household"),
    ("toilet paper", "Household")
]

df = pd.DataFrame(data, columns=["item", "category"])
df

                 item            category
0              apples  Fruit & Vegetables
1             bananas  Fruit & Vegetables
2             oranges  Fruit & Vegetables
3             spinach  Fruit & Vegetables
4             carrots  Fruit & Vegetables
5            potatoes  Fruit & Vegetables
6                eggs        Eggs & Dairy
7                milk        Eggs & Dairy
8      cheddar cheese        Eggs & Dairy
9              butter        Eggs & Dairy
10            yoghurt        Eggs & Dairy
11     chicken breast         Meat & Fish
12         beef mince         Meat & Fish
13      salmon fillet         Meat & Fish
14         pork chops         Meat & Fish
15              bread              Bakery
16             bagels              Bakery
17         croissants              Bakery
18              pasta  Pantry / Dry Goods
19               rice  Pantry / Dry Goods
20    tinned tomatoes  Pantry / Dry Goods
21          olive oil  Pantry / Dry Goods
22             crisps              Snacks
23      chocolate bar              Snacks
24           biscuits              Snacks
25       orange juice              Drinks
26             coffee              Drinks
27           tea bags              Drinks
28        frozen peas        Frozen Foods
29          ice cream        Frozen Foods
30  washing up liquid           Household
31       toilet paper           Household

In [9]:
import os

print(os.path.exists("../data"))
print(os.path.exists("../data/raw"))

True
True

In [10]:
df.to_csv("../data/raw/groceries_raw.csv", index=False)

In [12]:
git add "notebooks/01_data_collection.ipynb" data/raw/groceries_raw.csv
git commit -m "Add raw grocery dataset."
git push origin main

SyntaxError: invalid syntax (3698220780.py, line 1)

In [4]:
import os
os.getcwd()

'C:\\coding5final\\coding5\\notebooks'