## Food Shop data collecting!

This notebook defines the category schema and collects a raw labelled dataset
of grocery item names and their corresponding categories. The aim is to
mimic the automatic categorisation behaviour of the Apple Reminders "Groceries" list.

At this stage, the data is collected in a raw form without preprocessing.

## Category Schema

The following categories are used in this project:

- Fruit and Veg
- Eggs and Dairy
- Bakery
- Pantry
- Snacks
- Household
- Meat and Fish
- Drinks
- Frozen Foods


These categories were chosen because they are:
- Common in supermarket organisation
- Small in number 
- Similar to those used by consumer grocery applications (https://www.sciencedirect.com/science/article/abs/pii/S0195666320305481)

## Data table

Setting up the data types with an example dataset.

Formatting into table for processing. Keeping it simple and easy to process.

In [10]:
import pandas as pd

data = [
     # Fruit & Vegetables (10 items)
    ("apples", "Fruit & Vegetables"),
    ("bananas", "Fruit & Vegetables"),
    ("oranges", "Fruit & Vegetables"),
    ("spinach", "Fruit & Vegetables"),
    ("carrots", "Fruit & Vegetables"),
    ("potatoes", "Fruit & Vegetables"),
    ("broccoli", "Fruit & Vegetables"),
    ("cucumber", "Fruit & Vegetables"),
    ("tomatoes", "Fruit & Vegetables"),
    ("lettuce", "Fruit & Vegetables"),

    # Eggs & Dairy (6 items)
    ("eggs", "Eggs & Dairy"),
    ("milk", "Eggs & Dairy"),
    ("cheddar cheese", "Eggs & Dairy"),
    ("butter", "Eggs & Dairy"),
    ("yoghurt", "Eggs & Dairy"),
    ("cream", "Eggs & Dairy"),

    # Meat & Fish (6 items)
    ("chicken breast", "Meat & Fish"),
    ("beef mince", "Meat & Fish"),
    ("salmon fillet", "Meat & Fish"),
    ("pork chops", "Meat & Fish"),
    ("cod fillet", "Meat & Fish"),
    ("turkey slices", "Meat & Fish"),

    # Bakery (5 items)
    ("bread", "Bakery"),
    ("bagels", "Bakery"),
    ("croissants", "Bakery"),
    ("muffins", "Bakery"),
    ("sourdough loaf", "Bakery"),

    # Pantry / Dry Goods (5 items)
    ("pasta", "Pantry / Dry Goods"),
    ("rice", "Pantry / Dry Goods"),
    ("tinned tomatoes", "Pantry / Dry Goods"),
    ("olive oil", "Pantry / Dry Goods"),
    ("flour", "Pantry / Dry Goods"),

    # Snacks (5 items)
    ("crisps", "Snacks"),
    ("chocolate bar", "Snacks"),
    ("biscuits", "Snacks"),
    ("nuts", "Snacks"),
    ("granola bar", "Snacks"),

    # Drinks (4 items)
    ("orange juice", "Drinks"),
    ("coffee", "Drinks"),
    ("tea bags", "Drinks"),
    ("sparkling water", "Drinks"),

    # Frozen Foods (4 items)
    ("frozen peas", "Frozen Foods"),
    ("ice cream", "Frozen Foods"),
    ("frozen pizza", "Frozen Foods"),
    ("frozen berries", "Frozen Foods"),

    # Household (5 items)
    ("washing up liquid", "Household"),
    ("toilet paper", "Household"),
    ("dishwasher tablets", "Household"),
    ("kitchen towels", "Household"),
    ("laundry detergent", "Household")
]

df = pd.DataFrame(data, columns=["item", "category"])
df

                  item            category
0               apples  Fruit & Vegetables
1              bananas  Fruit & Vegetables
2              oranges  Fruit & Vegetables
3              spinach  Fruit & Vegetables
4              carrots  Fruit & Vegetables
5             potatoes  Fruit & Vegetables
6             broccoli  Fruit & Vegetables
7             cucumber  Fruit & Vegetables
8             tomatoes  Fruit & Vegetables
9              lettuce  Fruit & Vegetables
10                eggs        Eggs & Dairy
11                milk        Eggs & Dairy
12      cheddar cheese        Eggs & Dairy
13              butter        Eggs & Dairy
14             yoghurt        Eggs & Dairy
15               cream        Eggs & Dairy
16      chicken breast         Meat & Fish
17          beef mince         Meat & Fish
18       salmon fillet         Meat & Fish
19          pork chops         Meat & Fish
20          cod fillet         Meat & Fish
21       turkey slices         Meat & Fish
22               bread              Bakery
23              bagels              Bakery
24          croissants              Bakery
25             muffins              Bakery
26      sourdough loaf              Bakery
27               pasta  Pantry / Dry Goods
28                rice  Pantry / Dry Goods
29     tinned tomatoes  Pantry / Dry Goods
30           olive oil  Pantry / Dry Goods
31               flour  Pantry / Dry Goods
32              crisps              Snacks
33       chocolate bar              Snacks
34            biscuits              Snacks
35                nuts              Snacks
36         granola bar              Snacks
37        orange juice              Drinks
38              coffee              Drinks
39            tea bags              Drinks
40     sparkling water              Drinks
41         frozen peas        Frozen Foods
42           ice cream        Frozen Foods
43        frozen pizza        Frozen Foods
44      frozen berries        Frozen Foods
45   washing up liquid           Household
46        toilet paper           Household
47  dishwasher tablets           Household
48      kitchen towels           Household
49   laundry detergent           Household

## Checking paths! 
This checks the paths exist, ensuring the dataset csv will be saved and not lost into the abyss!

In [11]:
import os

print(os.path.exists("../data"))
print(os.path.exists("../data/raw"))

True
True

## Saving as csv
takes the DataFrame in memory.
saves it to CSV.
stores it as raw data.

In [12]:
df.to_csv("../data/raw/groceries_raw.csv", index=False)

## Commit
Do not forget to Git add. git commit and git push!